<div class="modal fade current-model"  id="<%= pagedata.result[i]._id%>" tabindex="-1" role="dialog" data-id= "<%= pagedata.result[i]._id%>" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= pagedata.result[i].userGoodsName%></h4>
      </div>
      <div class="modal-body">
        <p>
          <span>你好：</span><%= pagedata.result[i].userName%>
        </p>
        <textarea name="" class="form-control contact-msgs"  cols="80%" rows="5" placeholder="您可以在这里留下您的联系信息"></textarea>
        <span class="error-msg text-danger" style="display: none;">不能为空</span>
        <div class='send-hide-msg hide' data-username= "<%= userdata.username %>" 
          data-goodsname ="<%= pagedata.result[i].userGoodsName%>" data-selectway= "<%=pagedata.result[i].selectWay %>" 
          data-nickname ="<%= pagedata.result[i].nickName%>" data-uid = "<%= pagedata.result[i].uid%>"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary contact-send-instance">发送</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
