<div id="carousel-example-generic<%= i %>" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="0" class="active" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[0] || '/img/down_img.jpg' %>);"></li>
        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="1" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[1] || '/img/down_img.jpg' %>);"></li>
        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="2" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[2] || '/img/down_img.jpg' %>);"></li>
        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="3" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[3] || '/img/down_img.jpg' %>);"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active sec-goods-img-default">
        <div class="sec-goods-img-" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[0] || '/img/down_img.jpg' %>);">

        </div>
        <div class="carousel-caption">
        </div>
        </div>
        <div class="item sec-goods-img-default">
        <div class="sec-goods-img-" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[1] || '/img/down_img.jpg' %>);">

        </div>
        <div class="carousel-caption">
        </div>
        </div>
        <div class="item sec-goods-img-default">
        <div class="sec-goods-img-" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[2] || '/img/down_img.jpg' %>);">

        </div>
        <div class="carousel-caption">
        </div>
        </div>
        <div class="item sec-goods-img-default">
        <div class="sec-goods-img-" style="background-image: url(<%= pagedata.result[i].imgBase64Arr[3] || '/img/down_img.jpg' %>);">

        </div>
        <div class="carousel-caption">
        </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic<%= i %>" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic<%= i %>" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
 </div>